x-logging: &default-logging
  options:
    max-size: '12m'
    max-file: '5'
  driver: json-file

services:
  bitcoind:
    image: bitcoin/bitcoin:29.1
    command: -regtest=1 -rpcport=${BITCOIND_RPC_PORT} -rpcuser=${BITCOIND_RPC_USER} -rpcpassword=${BITCOIND_RPC_PASSWORD} -rpcallowip=0.0.0.0/0 -rpcbind=0.0.0.0
    ports:
      - "${BITCOIND_RPC_PORT}:18443"
    expose:
      - "${BITCOIND_RPC_PORT}"
    profiles:
      - bitcoind

  bitvmx-client:
    build:
      context: ./
      dockerfile: docker/Dockerfile
      ssh:
        - default
    logging: *default-logging
    restart: unless-stopped
    entrypoint: [ "./run.sh" ]
    environment:
      BITCOIND_URL: ${BITCOIND_URL}
      CLIENT_OP: ${CLIENT_OP}
      BITCOIND_RPC_USER: ${BITCOIND_RPC_USER}
      BITCOIND_RPC_PASSWORD: ${BITCOIND_RPC_PASSWORD}
    healthcheck:
      test: [ "CMD-SHELL", "pgrep -f bitvmx-client" ] # Check bitvmx-client proccess is running
      interval: 2s
      timeout: 5s
      retries: 5
      start_period: 5s
    ports:
      - "${BROKER_PORT}:${BROKER_PORT}"
    expose:
      - "${BROKER_PORT}"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  bitvmx-emulator:
    build:
      context: ./
      dockerfile: docker/Dockerfile.emulator
      ssh:
        - default
    logging: *default-logging
    restart: unless-stopped
    entrypoint: [ "./run_emulator.sh" ]
    environment:
      CLIENT_OP: ${CLIENT_OP}
    network_mode: "service:bitvmx-client"
    depends_on:
      bitvmx-client:
        condition: service_healthy
