bitcoin:
  network: regtest
  url: http://127.0.0.1:18443
  username: foo
  password: rpcpassword
  wallet: test_wallet

key_manager:
  network: regtest
  key_derivation_path: m/101/1/0/0/
  key_derivation_seed: 1000beefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef
  winternitz_seed: 1000beefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef

key_storage:
  password: SeCrEt_p4ssw0rd_1!
  path: /tmp/development/keys.db

storage:
  path: /tmp/development/storage.db

comms:
  address: 127.0.0.1:61182
  priv_key: config/keys/op_1.key
  storage_path: /tmp/development/comms.db
  
coordinator:
  throtthle_bitcoin_updates_until_sync: 0
  throtthle_bitcoin_updates: 0

  
broker:
  allow_list: config/allow_list.yaml
  routing_table: config/routing_table.yaml
  port: 22222
  ip: 127.0.0.1
  priv_key: config/keys/services.key
  storage: 
    path: /tmp/development/broker.db

components:
  l2:
    pubkey_hash: 7005e4a0325b644baa2b66c3fa2ed2a795cae584b6d3a57ca45ebf5d0eb0011f
    id: 0
  bitvmx:
    pubkey_hash: 1d10fa43ebbf6674d74caa3e9032711ade09d98ea7d20f89459f61152bebda1e
    id: 0
  emulator:
    pubkey_hash: c356750c04776008418c31cb1fd3d9dad936e5487358eeb8961b68831f419125
    id: 0
  prover:
    pubkey_hash: 054dba5c41ee2926a7d909cc3443fa78f2f2e257cb1d008fd75e0d3534e3ba0d
    id: 0
    
testing:
  l2:
    priv_key: config/keys/l2.key
    id: 0
  emulator:
    priv_key: config/keys/emulator.key
    id: 0
  prover:
    priv_key: config/keys/prover.key
    id: 0
    
client:
  retry: 1
  retry_delay: 1000

wallet:
  receive_key: cUVFBGCCjw5JGY2DUY5HTtKoHevMHs675aFkXVLvXeE4jV7GPeGb
  change_key: cVTMy1VXsEqT4z3nT3w8vupAmqBTjZBmyyE38TYP9kju9rQWpK9F
  db_path: /tmp/regtest/development/wallet.db
  start_height: 0
