name: 'Test action'
on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - 'examples/union/**'
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - 'examples/union/**'
      - 'src/program/protocols/union/**'

env:
  CARGO_TERM_COLOR: always

permissions:
  actions: read
  checks: write
  contents: read
  pull-requests: read

concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  test:
    if: ${{ !contains(github.event.pull_request.title, '[cov]') }}
    uses: FairgateLabs/BitVMX-CI/.github/workflows/ci_local_template.yml@main
    with:
      repo: 'FairgateLabs/rust-bitvmx-workspace'
      submodule_path: 'rust-bitvmx-client'
      cargo_lock_path: 'rust-bitvmx-client/Cargo.lock'
      target_path: 'rust-bitvmx-client/target'
      cargo_features: 'testpanic'
      nightly: false
      submodule_branches: '{"rust-bitvmx-key-manager": "dev", "rust-bitvmx-protocol-builder": "keymanager-adapt", "rust-bitvmx-wallet": "keymanager-adapt", "rust-bitvmx-storage-backend": "v0.1.1-review.1"}'
    secrets: inherit
    
